.form {
  &_border {
    &_all {
      border: 3px solid var(--color_border);
    }
  }

  &_view {
    &_default {
      background: var(--color_default);
    }
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    &_border {
      &_bottom {
        border-bottom: 3px solid var(--color_border);

        &:last-child {
          border-bottom: none;
        }
      }
    }

    &_distribute {
      &_between {
        justify-content: space-between;
      }
    }

    &_vertical-align {
      &_center {
        align-content: center;
      }
    }

    @each $space in xxxs, xxs, s, m, l, xl, xxl, xxxl, xxxxl {
      &_indent-b {
        &_#{$space} {
          margin-bottom: var(--space_#{$space});
        }
      }

      &_space-h {
        &_#{$space} {
          padding-left: var(--space_#{$space});
          padding-right: var(--space_#{$space});
        }
      }

      &_space-v {
        &_#{$space} {
          padding-top: var(--space_#{$space});
          padding-bottom: var(--space_#{$space});
        }
      }
    }
  }

  &__label {
    &_width {
      &_default {
        flex: 1 1 35%;
      }
    }
  }

  &__control {
    flex: 1 1 65%;

    display: flex;
    justify-content: flex-end;
  }
}
