.section {
  @each $space in xxl, xxxxl {
    &_indent-b {
      &_#{$space} {
        margin-bottom: var(--space_#{$space});
      }
    }

    &_space-v {
      &_#{$space} {
        padding-top: var(--space_#{$space});
        padding-bottom: var(--space_#{$space});
      }
    }
  }
}
