.card {
  position: relative;

  &_border {
    &_all {
      border: 3px solid var(--color_border);
    }
  }

  &_view {
    &_default {
      background: var(--color_default);
    }
  }

  &__content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    &_distribute {
      &_center {
        align-content: center;
      }
    }

    &_vertical-align {
      &_center {
        justify-content: center;
      }
    }

    &_space-a {
      @each $space in m, xl, l, xxl, xxxl {
        &_#{$space} {
          padding: var(--space_#{$space});
        }
      }
    }
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    position: absolute;
    bottom: 0;

    &_distribute {
      &_between {
        align-content: space-between;
      }

      &_center {
        align-content: center;
      }

      &_right {
        align-content: flex-end;
      }
    }

    &_vertical-align {
      &_center {
        justify-content: center;
      }

      &_top {
        justify-content: flex-start;
      }

      &_bottom {
        justify-content: flex-end;
      }
    }

    &_space-a {
      @each $space in m, l, xl, xxl {
        &_#{$space} {
          padding: var(--space_#{$space});
        }
      }
    }
  }
}
