.informer {
  &_border {
    &_all {
      border: 3px solid var(--color_border);
    }
  }

  &_view {
    &_default {
      background: var(--color_default);
    }
  }

  &__content,
  &__action {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    &_distribute {
      &_default {
        align-content: initial;
      }

      &_between {
        align-content: space-between;
      }

      &_center {
        align-content: center;
      }
    }

    &_space-a {
      @each $space in xl, xxl {
        &_#{$space} {
          padding: var(--space_#{$space});
        }
      }
    }
  }
}
